<footer ng-controller="MainCtrl">

	<!-- copyright , scrollTo Top -->
	<div class="footer-bar">
		<div class="container">
			<span class="copyright">Copyright &copy; {{project.contact.firstName + ' ' + project.contact.lastName}}. All Rights Reserved.</span>
			<!--a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a-->
		</div>
	</div>
	<!-- copyright , scrollTo Top -->


	<!-- footer content -->
	<div class="footer-content">
		<div class="container">

			<div class="row">

				<!-- FOOTER PROJECT SUMMARY -->
				<div class="column col-md-4 text-right">
					<h3>PROJECT SUMMARY</h3>

					<div class="contact-desc">
						<!--h3><a href="http://www.ohloh.net/p/cgSceneGraph"><img src="assets/images/ohloh_hub.png" alt="http://www.ohloh.net/p/cgSceneGraph" /></a></h3-->
						<!--script type="text/javascript-lazy" src="http://www.ohloh.net/p/616805/widgets/project_factoids_stats.js"></script-->
						<iframe src='http://www.ohloh.net/p/616805/widgets/project_factoids.html'
						        scrolling='no'
						        marginHeight=0
						        marginWidth=0
						        style='height: 250px; width: 370px; border: none;'></iframe>
					</div>

				</div>
				<!-- /FOOTER PROJECT SUMMARY -->

				<!-- FOOTER LOGO -->
				<div class="column logo col-md-4 text-center">
					<div class="logo-content">
						<img src="assets/images/logoCGSG_square.png" alt="{{project.name}}"/>

						<p><h4>{{project.name}} Framework</h4></p>
					</div>
				</div>
				<!-- /FOOTER LOGO -->

				<!-- FOOTER CONTACT INFO -->
				<div class="column col-md-4">
					<h3>CONTACT</h3>

					<p class="contact-desc">
						To get help, <a href="http://stackoverflow.com" target="_blank">StackOverflow</a> remains the
						best place, but if you need emergency help feel free to contact directly by email.
						<a href="http://stackoverflow.com/search?q=cgscenegraph"
						   target="_blank"><img src="assets/images/stackoverflow.png"></a></p>
					<address class="font-opensans">
						<ul>
							<li class="footer-sprite address"><a href="{{project.github}}" target="_blank">
								{{project.github}}</a></li>
							<li class="footer-sprite email">
								<a href="mailto:{{project.contact.email}}">{{project.contact.email}}</a>
							</li>
						</ul>
					</address>

				</div>
				<!-- /FOOTER CONTACT INFO -->

			</div>

		</div>
	</div>
	<!-- footer content -->

</footer>