<header id="topNav" ng-controller="MainCtrl">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="index.html">
            <img src="assets/images/logoCGSG_180x40.png" alt="SceneGraph.js"/>
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li ng-class="{active: isActive('index.html') || isActive('')}">
                        <a href="index.html"> Home </a>
                    </li>

                    <li ng-class="{active: isActive('examples.html')}">
                        <a href="examples.html">
                            Examples
                        </a>
                    </li>
                    <li ng-class="{active: isActive('tutorials.html')}" class="dropdown mega-menu-item mega-menu-fullwidth">
                        <a class="dropdown-toggle" href="tutorials.html">
                            Tutorials <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Global concepts</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="tuto_simple_project.html"><i class="fa fa-check-square-o"></i>Create a simple project</a></li>
                                                        <li><a href="tuto_custom_node.html"><i class="fa fa-check-square-o"></i> Create your nodes</a></li>
                                                        <li><a href="tuto_srt_animations.html"><i class="fa fa-check-square-o"></i> SRT Animations</a></li>
                                                        <li><a href="tuto_multiselection.html"><i class="fa fa-check-square-o"></i> Multi-selection</a></li>
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Image sharing</span></li> <!-- <a href="tuto_image_sharing.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">SpriteSheets</span></li> <!-- <a href="tuto_spritesheets.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Traverse the graph</span></li> <!-- <a href="tuto_traverser.html"> -->
                                                        <li class="divider"></li>
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Perf: pre-rendering</span></li> <!-- <a href="tuto_prerendering.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">How-To: Fullscreen size</span></li> <!-- <a href="tuto_fullscreen.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">How-To: Responsive</span></li> <!-- <a href="tuto_responsive.html"> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">CSS</span>
                                                    <ul class="sub-menu">
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">CSS management</span></li>  <!-- <a href="tuto_css.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Dynamic CSS</span></li>  <!-- <a href="tuto_css_dynamic.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Create your own style</span></li>  <!-- <a href="tuto_css_custom.html"> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Events</span>
                                                    <ul class="sub-menu">
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Events manager</span></li>  <!-- <a href="tuto_eventManager.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Node events</span></li>  <!-- <a href="tuto_node_events.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Scene events</span></li>  <!-- <a href="tuto_scene_events.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Animation events</span></li>  <!-- <a href="tuto_animation_events.html"> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Advanced</span>
                                                    <ul class="sub-menu">
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Particles</span></li>  <!-- <a href="tuto_particles.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Share animation values</span></li>  <!-- <a href="tuto_share_animation.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Advanced animation</span></li>  <!-- <a href="tuto_advanced_animation.html"> -->
                                                        <li><i class="fa fa-square-o"></i> <span class="fsize11 italic">Making a game</span></li>  <!-- <a href="tuto_making_game.html"> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li ng-class="{active: isActive('ecosystem.html')}">
                        <a href="ecosystem.html">
                            Ecosystem
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            API
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="api/{{project.currentVersion}}/index.html" target="_blank">{{project.currentVersion}} (current)</a></li>
                            <li class="divider"></li>
                            <li><a href="api/{{project.currentMaster}}/index.html" target="_blank">{{project.currentMaster}} (W.I.P.)</a></li>
                        </ul>
                    </li>
                    <li ng-class="{active: isActive('about.html')}">
                        <a href="about.html">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="v1/index.html" target="_blank">
                            Looking for v1?
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>

<span id="header_shadow"></span>