<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="index.html">
            <img src="assets/images/logoCGSG_180x40.png" alt="SceneGraph.js"/>
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li>
                        <a href="index.html"> Home </a>
                    </li>

                    <li>
                        <a href="examples.html">
                            <strong>Examples</strong>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="tutorials.html">
                            Tutorials
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="magazine-home.html">Magazine - Home</a></li>
                            <li><a href="magazine-category.html">Magazine - Category</a></li>
                            <li><a href="magazine-single.html">Magazine - Single</a></li>
                            <li class="divider"></li>
                            <li><a href="realestate-home.html">Real Estate - Home</a></li>
                            <li><a href="realestate-list.html">Real Estate - List</a></li>
                            <li><a href="realestate-single.html">Real Estate - Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="ecosystem.html">
                            Ecosystem
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="api/v2.1.0/index.html">
                            API
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="api/v2.1.0/index.html">V 2.1.0 (current)</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li>
                        <a href="v1/index.html">
                            Looking for v1?
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>

<span id="header_shadow"></span>