.cgsg {
    background-color: #ffffff;
}

.cgsg-selectionBox {
    background-color: #666666;
    border: 6px #494949;
    opacity: 0.4;
}

/*
Bounding box around the node when it's selected
*/
.cgsgnode-bbox {
    /* lines */
    outline: #3e3e3e 2px;

    /* handles */
    background-color: #707080;
    border-width: 6px;
}

/*
Regular CGSGNode attributes
*/
.cgsgnode {
    background-color: #494949;
    border: 2px solid #333;
    border-radius: 2px;
    opacity: 1.0;
}

/*
Overed CGSGNode attributes
*/
.cgsgnode-over {
    background-color: #666;
    border: 2px solid #444;
    border-radius: 2px;
    opacity: 1.0;
}