/**
A custom theme must declare the same CSS classes as the default theme ("gray.css") with all properties.
Obviouly, change values :)

*/

.cgsg {
    background-color: #ffffff;
}

.cgsg-selectionBox {
    background-color: #f47473;
    border: 6px #f47473;
    opacity: 0.4;
}

/*
Bounding box around the node when it's selected
*/
.cgsgnode-bbox {
    /* lines */
    outline: #f06b67 2px;

    /* handles */
    background-color: #ffabba;
    border-width: 6px;
}

/*
Regular CGSGNode attributes
*/
.cgsgnode {
    background-color: #fededf;
    border: 3px solid #ffa7bf;
    border-radius: 2px;
    opacity: 1;
    color: #d72e82;
}

/*
Overed CGSGNode attributes
*/
.cgsgnode-over {
    background-color: #666;
    border: 2px solid #444;
    border-radius: 2px;
    opacity: 1.0;
}


/*************************************************************************************
Specific attributes for CGSGNodeText
**************************************************************************************/

.cgsg-h1 {
    color: #7f1b4d;

    text-align: left;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.cgsg-h2 {
    color: #7f1b4d;
    text-align: left;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.cgsg-h3 {
    color: #95205a;

    text-align: left;
    font-size: 12px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}

.cgsg-h4 {
    color: #d72e82;

    text-align: left;
    font-size: 10pt;
    font-style: italic;
    font-family: Arial sans-serif;
    font-variant: diagonal-fractions;
}

.cgsg-h5 {
    color: #d72e82;

    text-align: left;
    font-size: 10px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}

.cgsg-h6 {
    color: #d72e82;

    text-align: left;
    font-size: 10px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}

.cgsg-p {
    color: #4b0f2f;
    text-align: left;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.cgsg-left {
    text-align: left;
}
.cgsg-center {
    text-align: center;
}
.cgsg-right {
    text-align: right;
}

/*************************************************************************************
Specific attributes for CGSGNodeButton
**************************************************************************************/
.cgsg-button {
    background: -webkit-linear-gradient(#fededf, #ffa4bb); /* For Safari */
    background: -o-linear-gradient(#fededf, #ffa4bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fededf, #ffa4bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fededf, #ffa4bb); /* Standard syntax */

    padding-top: 12px;
    padding-left: 10px;
    border: 0 #d72e82;
    border-radius: 8px;
    opacity: 1.0;
}

.cgsg-button-text {
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #d72e82;
}

.cgsg-button-over {
    background: -webkit-linear-gradient(#ff92b2, #e5718d); /* For Safari */
    background: -o-linear-gradient(#ff92b2, #e5718d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff92b2, #e5718d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff92b2, #e5718d); /* Standard syntax */

    padding-top: 12px;
    padding-left: 10px;
    border: 0 #4B4B4B;
    border-radius: 8px;
    opacity: 1.0;
}

.cgsg-button-over-text {
    text-align: center;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #fff;
}

.cgsg-button-deactivated {
    background: -webkit-linear-gradient(#ffdfe3, #f3c1ce); /* For Safari */
    background: -o-linear-gradient(#ffdfe3, #f3c1ce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdfe3, #f3c1ce); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdfe3, #f3c1ce); /* Standard syntax */

    padding-top: 12px;
    padding-left: 10px;
    border: 0 #cb5373;
    border-radius: 8px;
    opacity: 1.0;
}

.cgsg-button-deactivated-text {
    text-align: center;
    font-size: 12px;
    font-family: "Times New Roman", Georgia, Serif;
    color: #d08aa3;
    opacity: 0.6;
}

.cgsg-button-selected {
    background: -webkit-linear-gradient(#ff92b2, #e5718d); /* For Safari */
    background: -o-linear-gradient(#ff92b2, #e5718d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff92b2, #e5718d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff92b2, #e5718d); /* Standard syntax */

    padding-top: 12px;
    padding-left: 10px;
    border: 0 #4B4B4B;
    border-radius: 8px;
    opacity: 1.0;
}


.cgsg-button-selected-text {
    text-align: center;
    font-size: 13px;
    font-family: "Times New Roman", Georgia, Serif;
    color: #fff;
}

/**
At the time I wrote this CSS integration, "icon" attribute was not supported by current modern browsers.
So I had to use "list-style-image" attribute.
*/
.cgsg-button-icon-alert {
    list-style-image: url("../../img/alert.png");

}
.cgsg-button-icon-error {
    list-style-image: url("../../img/error.png");
}
.cgsg-button-icon-ok {
    list-style-image: url("../../img/ok.png");
}